####################################
### Server Configuration
####################################
.env
/data

####################################
### Launcher
####################################
__pycache__/


####################################
### Elastic Stack
####################################
logstash_ingest_data/
