* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

.title {
  padding: 20px 0 0 5%;
}

.launchHoneypot {
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown {
  margin: 0 3%;
  padding: 0 15px;
  width: 30%;
  height: 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.dropdown:focus {
  outline: none;
}

.launchButton {
  padding: 10px 15px;
  margin: 20px 0;
  font-size: clamp(0.4rem, calc(0.6rem + 1.2vw), 1.2rem);
  background-color: #2faf87;
  border: none;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
  color: #fff;
  cursor: pointer;
}

.launchButton:active {
  background-color: #fff;
  color: #2faf87;
}

.honeypotLogs {
  margin-bottom: 70px;
}

.honeypotName {
  padding: 0 0 20px 5%;
}

.logControls {
  margin: 0 0 20px 5%;
  width: 40%;
}

.table-wrap {
  overflow-x: scroll;
}

.logTable {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
}

.logTable th,
.logTable td {
  border: 2px solid #eee;
  padding: 4px 8px;
}
