####################################
### Server Configuration
####################################
python-dotenv

####################################
### Production Server
####################################
gunicorn

####################################
### Flask
####################################
flask

####################################
### Docker
####################################
docker
